.header {
    height: 60px;
    display: flex;
    justify-content: center;
    background: linear-gradient(to bottom,#7a19f1,#332179);
    position: fixed;
    width: 100%;
    border-bottom: 1px solid silver;
    z-index: 100;
}

.container {
    max-width: 1336px;
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.wrapper {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.switch {
    background-color: transparent !important;
}

.switchBorder {
    border: 1px solid white;
    border-radius: 30px;
}

@media(max-width: 740px) {
    .container {
        width: 100%;
        padding: 0 10px;
        box-sizing: border-box;
        justify-content: center;
    }

    .wrapper {
        max-width: 100%;
        display: flex;
        justify-content: space-between;
        }
}
