.header {
    height: 60px;
    background-color: darkorange;
    display: flex;
    justify-content: center;
}

.container {
    max-width: 1336px;
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.wrapper {
    max-width: 35%;
    border: 1px solid;
    display: flex;
}

@media(max-width: 740px) {
    .container {
        width: 100%;
        padding: 0 10px;
        box-sizing: border-box;
        justify-content: center;
    }

    .wrapper {
        max-width: 100%;
        display: flex;
        }
}
