.contact {
    height: 100vh;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    max-width: 1336px;
    flex-grow: 1;
    display: flex;
    height: 70%;
    align-items: center;
    flex-direction: column;
}

.title h3 {
    color: #5b43d6;
}

.input {
    padding: 10px;
    border: 1px solid silver;
    outline: none;
}

.input:Focus {
    border: 2px solid #5b43d6;
    outline: none;
}

.input:Focus::placeholder {
    color: transparent;
}

.message {
    padding: 10px;
    border: 1px solid silver;
    outline: none;
}

.message:Focus {
    border: 2px solid #5b43d6;
}

.message:Focus::placeholder{
    color: transparent;
}

.button {
    color: #5b43d6;
    background-color: transparent;
    padding: 12px 30px;
    border-radius: 30px;
    border: 2px solid #5b43d6;
    outline: none;
}

.button:hover {
    color: white;
    background-color: #5b43d6;
    transition: background-color .5s, color .2s;
}

form{
    width: 50%;
    text-align: center;
}

form textarea{
    resize: none;
    min-height: 200px;
}

form input, form textarea {
    width: 100%;
    box-sizing: border-box;
    margin: 5px;
    border-radius: 10px;
    border: none;
}

@media(max-width: 600px){
    form {
        width: 80%;
    }
}

@media(max-width: 500px){
    form {
        width: 100%;
    }

    .input {
        width: 95%;
    }

    .message {
        width: 95%;
    }
}