.wrapperContact {
  height: 95vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  height: 90%;
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.emailForm {
  height: 80%;
  width: 50%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.emailFormButton {
  height: 85%;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.emailInputsTextarea {
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.title {
  color: #5b43d6;
}

.input {
  padding: 10px;
  border: 1px solid silver;
  outline: none;
}

.input:focus {
  border: 2px solid #5b43d6;
  outline: none;
}

.errorName {
  padding: 10px;
  border: 2px solid red;
  outline: none;
  margin-bottom: -10px;
}

.popupErrorName {
  margin: 10px;
  color: red;
}

.emailError {
  padding: 10px;
  border: 2px solid red;
  outline: none;
  margin-bottom: -10px;
}

.popupErrorEmail {
  margin: 10px;
  color: red;
}

.messageError {
  padding: 10px;
  border: 2px solid red;
  outline: none;
  margin-bottom: -15px;
}

.popupErrorMessage {
  margin: 10px;
  color: red;
  padding-top: 5px;
}

.errorMessageButton {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 70px;
}

.input:focus::placeholder {
  color: transparent;
}

.message {
  padding: 10px;
  border: 1px solid silver;
  outline: none;
}

.message:focus {
  border: 2px solid #5b43d6;
}

.message:focus::placeholder {
  color: transparent;
}

.button {
  width: 30%;
  color: #5b43d6;
  background-color: transparent;
  padding: 12px 30px;
  border-radius: 30px;
  border: 2px solid #5b43d6;
  outline: none;
  transition: background-color 0.5s, color 0.2s;
}

.button:hover {
  color: white;
  background-color: #5b43d6;
  transition: background-color 0.5s, color 0.2s;
}

form {
  width: 50%;
  text-align: center;
}

form textarea {
  resize: none;
  min-height: 200px;
}

form input,
form textarea {
  width: 95%;
  box-sizing: border-box;
  margin: 5px;
  border-radius: 10px;
  border: none;
}

@media (max-width: 800px) {
  .emailForm {
    width: 80%;
    left: 22px;
    top: 40px;
  }
}

@media (max-width: 500px) {
  .emailForm {
    width: 100%;
  }

  .input {
    width: 95%;
  }

  .message {
    width: 95%;
  }

  .button {
    left: 33px;
    top: 40px;
    width: 85%;
  }
}

@media (max-width: 321px) {
  .button {
    left: 22px;
    top: 40px;
    width: 85%;
  }
}
