.navMenu {
    width: 400px;
    display: flex;
    justify-content: space-around;
}

html {
    scroll-behavior: smooth;
}

.link {
    color: white;
    text-decoration: none;
}

.link:hover{
    color: red;
}
