.skill{
    width: 30%;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    flex-grow: 1;
}

.cell2{
    display: flex;
    color: #5b43d6;
}

.skills{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
}

.skillImgs {
    width: 100px;
    height: 100px;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.skillImg {
    width: 100px;
    height: 100px;
}

.descriptioSkills {
    color: silver;
}

.icon {
    font-size: 100px;
    color: #5b43d6;
}

@media(max-width: 1136px) {
    .skills{
        justify-content: center;
    }
}

@media(max-width: 500px) {
    .skill {
        width: 100%;
    }
}
