.skillsBlock {
  height: 95vh;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid silver;
}

.container {
  height: 90%;
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  color: #5b43d6;
}
