.main {
    min-height: 100vh;
    background: linear-gradient(to bottom,#7a19f1,#332179) fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid silver;
}

.container{
    max-width: 1336px;
    flex-grow: 1;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.Greeting{
    display: flex;
    flex-direction: column;
}

.Greeting span {
    color: white;
}

.hello {
    margin-top: 14px;
}

.photo{
    width: 300px;
    height: 400px;
    background-color: red;
}