.footer {
    height: 300px;
    background: linear-gradient(to bottom,#7a19f1,#332179) fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid silver;
}

.container {
    max-width: 1336px;
    flex-grow: 1;
    display: flex;
    height: 70%;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
}

.socialIcon {
    width: 70%;
    height: 40%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.name {
    color: white;
}

.copywriter {
    color: white;
}

.in {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
}

.linkedIn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 34px;
}

.iconLinkedIn {
    background-image: url('./../Img/linkedin.svg');
    background-size: cover;
    background-position: center;
    width: 50px;
    height: 50px;
}

.iconVk {
    background-image: url('./../Img/vk.svg');
    background-size: cover;
    background-position: center;
    width: 50px;
    height: 50px;
}

.iconTelegram {
    background-image: url('./../Img/telegram.svg');
    background-size: cover;
    background-position: center;
    width: 50px;
    height: 50px;
}

.iconGitHub {
    background-image: url('./../Img/github-big-logo.svg');
    background-size: cover;
    background-position: center;
    width: 50px;
    height: 50px;
}