.projectsWrapper {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    border-bottom: 1px solid silver;
}

.container {
    max-width: 1336px;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    flex-direction: column;
    
}

.title h3 {
    height: 25%;
    display: flex;
    justify-content: center;
    padding: 10px;
    color: #5b43d6;
}

