.projectsWrapper {
  height: 95vh;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid silver;
}

.projectsContainer {
  height: 90%;
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.title {
  color: #5b43d6;
}

@media (max-width: 500px) {
  .projectsWrapper {
    height: auto;
  }

  .title {
    padding-top: 15px;
  }
}
