.distantProjects {
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom,#7a19f1,#332179);
    border-bottom: 1px solid silver;
}

.container {
    max-width: 1336px;
    flex-grow: 1;
    display: flex;
    height: 70%;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
}

.workOptions {
    color: white;
    text-align: center;
}

.buttons {
    padding: 12px 30px;
    border-radius: 30px;
    background-color: transparent;
    outline: none;
    border: 2px solid white;
    color: white;
}

.buttons:hover {
    color: #5b43d6;
    transition: background-color .5s, color .2s;
    background-color: white;
}