.distantProjects {
    height: 250px;
    background-color: rgb(214, 70, 94);
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    max-width: 1336px;
    flex-grow: 1;
    border: 1px solid;
    display: flex;
    height: 70%;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
}

.buttons {
    width: 250px;
    height: 35px;
}